# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

bin/
obj/

Gallery/Gallery.Core/bin/
Gallery/Gallery.Core/obj/
Gallery/Gallery.Droid/bin/
Gallery/Gallery.Droid/obj/

Gallery/bin/
Gallery/obj/

bin
obj

bin/*
obj/*

bin*
obj*

Gallery/Gallery.Core/bin/*
Gallery/Gallery.Core/obj/*
Gallery/Gallery.Droid/bin/*
Gallery/Gallery.Droid/obj/*

Gallery/bin/*
Gallery/obj/*
*.java
*.s
*.class
*.so
*.dll
*.pdb
*.ide
*.pdb
*.flata
*.stamp
*.stamp
Gallery.Droid/obj/Debug/90/lp/14.stamp
